@model IEnumerable<eResident_1._0.Models.RESIDENT>
@{
    Layout = null;
    @Html.Raw(TempData["msg"])
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Resident</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Scripts/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Scripts/Login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                @*<form class="login100-form validate-form">*@
                @using (Html.BeginForm("ResidentLogin", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login100-form validate-form" }))
                {
                    <span class="login100-form-title p-b-55">
                        Resident Login
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="IC Number is required">
                        <input class="input100" type="text" name="RESIDENT_IC" placeholder="IC Number">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-user"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" name="PASSWORD" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-lock"></span>
                        </span>
                    </div>

                    <div class="container-login100-form-btn p-t-25">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                }
                @*</form>*@
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Scripts/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/js/main.js"></script>
</body>
</html>